pipeline/PL_Ingestion_Product_To_JSON.json
{
	"name": "PL_Ingestion_Product_To_JSON",
	"properties": {
		"activities": [
			{
				"name": "ACT_Get_Product_Count",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select count (*) as RecordCount\nFrom SalesLT.Product",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Product_table",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ACT_Check_Count",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ACT_Get_Product_Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('ACT_Get_Product_Count').output.firstRow.recordCount,10)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Act_copy_data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_Product_SQL",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_JSON_Generic",
									"type": "DatasetReference",
									"parameters": {
										"folderName": "Product Json"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-06-21T04:23:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}