pipeline/PL_Increamental_Pipeline.json
{
	"name": "PL_Increamental_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "ACT_LKP_Get_High_WaterMark_TimeStamp",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_High_WaterMark",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ACT_LKP_Get_Last_Modified_TimeStamp",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ACT_LKP_Get_High_WaterMark_TimeStamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max (ModifiedDate) as LastRecordDare from salesLT.customer",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Product_SQL_DS",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "ACT_Copy_Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ACT_LKP_Get_Last_Modified_TimeStamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from saleslt.customer where ModifiedDate > @{activity('ACT_LKP_Get_High_WaterMark_TimeStamp').output.firstRow.Prop_0} and ModifiedDate <= @{activity('ACT_LKP_Get_Last_Modified_TimeStamp').output.firstRow.LastRecordDAte}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SQL_DB_Customer_DS",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}