pipeline/PL_Ingestion_Product_Addres_To_JSON_Child.json
{
	"name": "PL_Ingestion_Product_Addres_To_JSON_Child",
	"properties": {
		"activities": [
			{
				"name": "ACT_Get_Address_Count",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select count (*) as RecordCount\nFrom SalesLT.Address",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Product_table",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ACT_Check_Count",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ACT_Get_Address_Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('ACT_Get_Address_Count').output.firstRow.recordCount,100)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Act_copy_data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "select * from saleslt.Address",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Product_SQL",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_CSV_generic",
									"type": "DatasetReference",
									"parameters": {
										"folderName": "CustomerAddress"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-06-21T04:23:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}