pipeline/PL_Lookup_Threshold_value_and_Copy.json
{
	"name": "PL_Lookup_Threshold_value_and_Copy",
	"properties": {
		"activities": [
			{
				"name": "ACT_Lookup_table_row_Count",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select count (*) as RecordCount\nfrom Saleslt.Customer",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_DB_Customer",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ACT_Lookup_threshold_count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('ACT_Lookup_table_row_Count').output.firstRow.RecordCount,int(activity('ACT_Lookup_threshold_count').output.firstRow.Prop_0))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ACT_Copy_customer",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_SQL_DB_Generic",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "saleslt",
										"tableName": "Customer"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_JSON_Generic",
									"type": "DatasetReference",
									"parameters": {
										"folderName": "Customer_JSON"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "ACT_Lookup_threshold_count",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ACT_Lookup_table_row_Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_Threshold_file_content",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-06-29T13:00:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}